<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <style>
	body {
        zoom: 0.6;
	}

        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 100;
            padding: 90px 0 0;
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
            z-index: 99;
        }
		  .custom-search-btn {
		width: 11%;
    }

		  .nav-item a.nav-link {
    color: black; /* Set the default text color */
    transition: background-color 0.3s ease, color 0.3s ease; /* Add a smooth transition effect */
  }

  .nav-item a.nav-link:hover {
    background-color: #006400;
    color: white;
  }
  .nav-item a.nav-link#home:hover {
    background-color: white;
    color: white;
  }


        @media (max-width: 767.98px) {
            .sidebar {
                top: 11.5rem;
                padding: 0;
            }
        }
            
        .navbar {
            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
        }

        @media (min-width: 767.98px) {
            .navbar {
                top: 0;
                position: sticky;
                z-index: 999;
            }
        }

        .sidebar .nav-link {
            color: #333;
        }

        .sidebar .nav-link.active {
            color: #0d6efd;
        }
    </style>
</head>
<body>
	<!--<nav class="navbar navbar-light bg-light p-3">-->
    <nav class="navbar navbar-light p-3" style="background-color: #c4ee9d;">
        <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
            <a class="navbar-brand" href="#" style="color: #006400; font-weight: bold; font-size: 24px;">
                YasiCom.
            </a>
            <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col-12 col-md-4 col-lg-2">
				    <form class="form-inline">
        <div class="input-group">
            <input class="form-control form-control-dark" type="text" placeholder="Search" aria-label="Search">
            <button class="custom-search-btn" style="background-color: #006400" type="submit"></button>
        </div>
    </form>

		</div>		
        <div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
            <div class="dropdown">
                <button class="btn dropdown-toggle" style="background-color: #006400;  font-weight: bold; color: white;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                  Hello, Admin
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#" style="background-color: #c4ee9d; color: #006400;">Log Out</a></li>
                </ul>
              </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar collapse" style="background-color: #c4ee9d;">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link active" id="home" aria-current="page" href="{{ url_for('routes.dashboard') }}" style="color: #006400">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            <span class="ml-2">Home</span>
                          </a>
                        </li>
                        <li class="nav-item">
							<a class="nav-link" href="{{ url_for('routes.add_product') }}">

                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                            <span class="ml-2">Add product</span>
                          </a>
                        </li>
                        <li class="nav-item">
							<a class="nav-link" href="{{ url_for('routes.edit_products') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                            <span class="ml-2">Edit Product</span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                            <span class="ml-2">Orders</span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">
							  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                            <span class="ml-2">Log Out</span>
                          </a>
                        </li>
                      </ul>
                </div>
            </nav>



			<!-- Add Product -code -->


<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4" style="transition: background-color 0.3s ease;background-color: #009000;">


	<div class="app-wrapper">
		<div class="app-content pt-3 p-md-3 p-lg-4">
			<div class="container-xl">
		<div class="app-card app-card-settings shadow-sm p-4">
			<!-- Flash Message Block -->
			<div class="text-center" style="font-weight: bold; font-size: 18px;">
				{% with message = get_flashed_messages() %}
				{% if message %}
					<div class="alert alert-success">
						{{ message }}
					</div>
				{% endif %}
				{% endwith %}
			 </div>

			 <h2 class="page-title" style="color: white;">Edit   "{{ product.name }}"</h2>
        <form method="POST" action="" enctype="multipart/form-data">
            <div class="form-group">
                <label for="product_name"style="color: white; font-weight: bold;font-size: 22px" >Product Name:</label>
				<input type="text" id="product_name" name="product_name" class="form-control" style="font-size: 22px" value="{{ product.name }}" required>
            </div>
            <div class="form-group">
                <label for="cover" style="color: white; font-weight: bold;font-size: 22px">Cover Photo:</label>

				<input type="file" id="cover" name="cover" class="form-control" style="font-size: 22px" value="{{ product.cover }}">
            </div>
            <div class="form-group">
                <label for="photo1" style="color: white; font-weight: bold;font-size: 22px">Photo 1:</label>
				<input type="file" id="photo1" name="photo1" class="form-control"style="font-size: 22px" value="{{ product.photo1 }}">
            </div>
            <div class="form-group">
                <label for="photo2" style="color: white; font-weight: bold;font-size: 22px">Photo 2:</label>

				<input type="file" id="photo2" name="photo2" class="form-control"style="font-size: 22px" value="{{ product.photo2 }}">
            </div>

            <div class="form-group">
                <label for="photo3" style="color: white; font-weight: bold;font-size: 22px">Photo 3:</label>

				<input type="file" id="photo3" name="photo3" class="form-control"style="font-size: 22px" value="{{ product.photo3 }}">
            </div>
			<div class="form-group">
                <label for="description" style="color: white; font-weight: bold;font-size: 22px">Description:</label>
				<textarea id="description" name="description" class="form-control"style="font-size: 22px"required>{{ product.description }}</textarea>
            </div>
            <div class="form-group">
                <label for="cost" style="color: white; font-weight: bold;font-size: 22px">Cost:</label>
				<input type="text" id="cost" name="cost" class="form-control" style="font-size: 22px" value="{{ product.cost }}"required>
            </div>
            <button type="submit" class="btn" id="addpro" style="background-color: #c4ee9d; color: #006400; font-weight: bold; margin-top: 10px;font-size: 22px">Add Product</button>
        </form>
    </div>
</div>
</div>
</main>








    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>








