{% extends "tst.html" %}
{% block title %}
    YasiCom.
{% endblock title %}

{% block content %}

<!-- About Section Begin -->
<section class="breadcrumb-option" style="background-color:white;padding:20px; margin-top: -60px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4 style="color:dark;font-weight: bolder; margin-top: -30px">About Us</h4>
                    <div class="breadcrumb__links">
			<a href="/home" style="color: black; text-decoration: none; font-weight: bolder;">Home</a>
			<!--<a href="/home" style="color:dark;text-decoration:none;font-weight: bolder;">Home</a>-->
			<span style="color:dark;font-weight: bold;"> > About Us</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about spad" style="background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item" style="margin-top: 20px;">
                    <h4 class="about__item-heading"><strong>Who We Are?</strong></h4>
                    <p class="about__item-text">Welcome to <strong class="brand-name">YasiCom</strong>, your ultimate destination for cutting-edge technology. As a leading provider of computers, laptops, and electronics, we pride ourselves on offering high-quality products and exceptional customer service.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item" style="margin-top: 20px;">
                    <h4 class="about__item-heading"><strong>What We Do?</strong></h4>
                    <p class="about__item-text">In this digital era where technology evolves rapidly, we are dedicated to providing the latest and most advanced computing solutions. Whether you're a professional seeking powerful laptops or a tech enthusiast looking for the newest gadgets, we've got you covered.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item" style="margin-top: 20px;">
                    <h4 class="about__item-heading"><strong>Why Choose Us?</strong></h4>
                    <p class="about__item-text">Choosing <strong class="brand-name">YasiCom</strong> means selecting a trusted partner in technology. Our commitment to quality, a wide range of products, and expert assistance ensures that you get the best value for your investment. Experience the future of electronics with us!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="about__pic">
                    <img src="../static/images/about.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section End -->


    


{% endblock %}
