{% extends "tst.html" %}
{% block title %}
    YasiCom.
{% endblock title %}

{% block content %}

<!-- About Section Begin -->
<section class="breadcrumb-option" style="background-color:white;padding:20px; margin-top: -60px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4 style="color:dark;font-weight: bolder; margin-top: -30px">About Me</h4>
                    <div class="breadcrumb__links">
			<a href="/home" style="color: black; text-decoration: none; font-weight: bolder;">Home</a>
			<!--<a href="/home" style="color:dark;text-decoration:none;font-weight: bolder;">Home</a>-->
			<span style="color:dark;font-weight: bold;"> > About Me</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
<section class="about spad" style="background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item" style="margin-top: 20px;">
                    <h4 class="about__item-heading"><strong>Who We Are?</strong></h4>
                    <p class="about__item-text"style="font-size: 18px;">Welcome to <strong class="brand-name">YasiCom</strong>, your ultimate destination for cutting-edge technology. As a leading provider of computers, laptops, and electronics, we pride ourselves on offering high-quality products and exceptional customer service.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item" style="margin-top: 20px;">
                    <h4 class="about__item-heading"><strong>What We Do?</strong></h4>
                    <p class="about__item-text" style="font-size: 18px;">In this digital era where technology evolves rapidly, we are dedicated to providing the latest and most advanced computing solutions. Whether you're a professional seeking powerful laptops or a tech enthusiast looking for the newest gadgets, we've got you covered.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item" style="margin-top: 20px;">
                    <h4 class="about__item-heading"><strong>Why Choose Us?</strong></h4>
                    <p class="about__item-text"style="font-size: 18px;">Choosing <strong class="brand-name">YasiCom</strong> means selecting a trusted partner in technology. Our commitment to quality, a wide range of products, and expert assistance ensures that you get the best value for your investment. Experience the future of electronics with us!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="about__pic">
                    <img src="../static/images/about.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
-->

<!-- About Section End -->

<section class="about spad" style="background-color: white; padding: 50px 0;">

    <div class="container">

        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item text-center mb-5">
                    <h4 class="about__item-heading"><strong>Who I Am?</strong></h4>
		    <p class="about__item-text" style="font-size: 18px;">Welcome to  <strong class="brand-name">YasiCom</strong>, a showcase of my journey into the realms of full-stack engineering. YasiCom is not just a project; it's a testament to my passion for technology that was kindled at <a href="https://www.holbertonschool.com/" target="_blank">Holberton School</a>.</p>

                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item text-center mb-5">
                    <h4 class="about__item-heading"><strong>What I Do?</strong></h4>
                    <p class="about__item-text" style="font-size: 18px;">In this digital era where technology evolves rapidly, my project reflects the culmination of my learning experience. While not an actual store, YasiCom serves as a testament to my newfound skills in full-stack engineering.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="about__item text-center mb-5">
                    <h4 class="about__item-heading"><strong>Why Choose Me?</strong></h4>
                    <p class="about__item-text" style="font-size: 18px;">Choosing <strong class="brand-name">YasiCom</strong> means selecting a representation of my growth and dedication. It's more than a project; it's a celebration of learning, challenges conquered, and the journey I am undertaking at Holberton School.</p>
                </div>
            </div>

        </div>
<!--
        <div class="row">

            <div class="col-lg-12">
                <div class="about__pic text-center">
                    <img src="../static/images/about.jpg" alt="" class="img-fluid">
                </div>
            </div>

        </div>

-->    <div class="row mt-5">
            <div class="col-lg-12 text-center">
                <h4><strong>About This Project:</strong></h4>
                <p style="font-size: 18px;">Building web applications fascinated me long before I started my studies. YasiCom is not just a result of coursework; it's a realization of the dreams I harbored when wondering about the complexities of web development.</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-12 text-center">
                <h4><strong>Project Timeline:</strong></h4>
		<p style="font-size: 18px;">Completed in the span of almost two and a half weeks, this project is a testament to my dedication and newfound expertise in full-stack engineering.</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-12 text-center">
                <h4><strong>GitHub Repository:</strong></h4>
                <p style="font-size: 18px;">Explore the code and the story behind it on my <a href="https://github.com/Vanbasten01/yasicom" target="_blank">GitHub Repository</a>.</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-12 text-center">
                <h4><strong>Connect with Me:</strong></h4>
                <p style="font-size: 18px;">For more projects and professional insights, connect with me on <a href="https://www.linkedin.com/in/fouad-yasin-76a489270/" target="_blank">LinkedIn</a>.</p>
            </div>
        </div>

    </div>

</section>





    


{% endblock %}
